<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Red Sísmica Digital</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>

    <!-- Paso 1: Botón inicial -->
    <section class="form-section">
        <h2>Red Sísmica Digital</h2>
        <form th:action="@{/listar-ordenes}" method="get">
            <button type="submit" class="btn-primary">Cerrar Orden de Inspección</button>
        </form>
    </section>

</body>
</html>